        .search-form {
            width: 25%;
            margin: auto;
        }
        
        button {
            margin-left: 30px;
            color: #fff;
            background-color: #009b25;
            border-radius: 10px;
            padding: 2px 5px;
            font-size: 18px;
            cursor: pointer;
        }
        
        input {
            padding: 5px;
        }